In [29]:
import pandas as pd
import numpy as np

data = {'unit_1':[10,20,30,40,50],
        'unit_2':[20,30,np.NaN,50,50],
        'total':[30,50,np.NaN,90,100]}
print(data)

{'unit_1': [10, 20, 30, 40, 50], 'unit_2': [20, 30, nan, 50, 50], 'total': [30, 50, nan, 90, 100]}

In [30]:
df = pd.DataFrame(data)

In [31]:
df

   unit_1  unit_2  total
0      10    20.0   30.0
1      20    30.0   50.0
2      30     NaN    NaN
3      40    50.0   90.0
4      50    50.0  100.0

In [32]:
column={}
for i in df.columns:
    column[i]=df[i].isnull().any()
print(column)

{'unit_1': False, 'unit_2': True, 'total': True}

In [33]:
c=avg=0
for i in df['unit_2']:
  if pd.isna(i):
    continue
  else:
    c=c+1
    avg=avg+i
avg=avg/c
print(avg)

37.5

In [34]:
df['unit_2'].fillna(value=avg,inplace=True)

In [35]:
df

   unit_1  unit_2  total
0      10    20.0   30.0
1      20    30.0   50.0
2      30    37.5    NaN
3      40    50.0   90.0
4      50    50.0  100.0

In [36]:
df['total']=df['unit_1']+df['unit_2']

In [37]:
df

   unit_1  unit_2  total
0      10    20.0   30.0
1      20    30.0   50.0
2      30    37.5   67.5
3      40    50.0   90.0
4      50    50.0  100.0

In [38]:
df.shape

(5, 3)

In [39]:
df.dtypes

unit_1      int64
unit_2    float64
total     float64
dtype: object

In [40]:
df.value_counts()

unit_1  unit_2  total
10      20.0    30.0     1
20      30.0    50.0     1
30      37.5    67.5     1
40      50.0    90.0     1
50      50.0    100.0    1
dtype: int64

In [41]:
import seaborn as sns

In [42]:
from scipy import stats

In [43]:
z = np.abs(stats.zscore(df['total']))
z

array([1.46524625, 0.68378158, 0.        , 0.87914775, 1.26988008])

In [44]:
threshold = 0.71
print(np.where(z>0.71))

(array([0, 3, 4]),)

In [45]:
dff=df

In [46]:
dff=dff[(z<0.71)]
dff

   unit_1  unit_2  total
1      20    30.0   50.0
2      30    37.5   67.5

In [47]:
df

   unit_1  unit_2  total
0      10    20.0   30.0
1      20    30.0   50.0
2      30    37.5   67.5
3      40    50.0   90.0
4      50    50.0  100.0

In [56]:
def binn(column,cut_points,labels):
  minn=column.min()
  maxx=column.max()
  break_points=[minn]+cut_points+[maxx]
  print("<60 -> F, 60-70 -> D, 70-80 -> C, 80-90 -> B, 90-100 -> A")
  
  t=pd.cut(column,bins=break_points,labels=labels,include_lowest=True)
  return t

cut_points=[60,70,80,90]
labels=['F','D','C','B','A']
df['Grade']=binn(df['total'],cut_points,labels)

<60 -> F, 60-70 -> D, 70-80 -> C, 80-90 -> B, 90-100 -> A

In [57]:
df

   unit_1  unit_2  total Grade
0      10    20.0   30.0     F
1      20    30.0   50.0     F
2      30    37.5   67.5     D
3      40    50.0   90.0     B
4      50    50.0  100.0     A