In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('iris.csv')
data.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### Subtask 1:

Mean:

In [3]:
data.groupby(by=data['Species']).mean()

            Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

Median:

In [4]:
data.groupby(by=data['Species']).median()

            Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Species
setosa               5.0          3.4          1.50          0.2
versicolor           5.9          2.8          4.35          1.3
virginica            6.5          3.0          5.55          2.0

Minimum:

In [5]:
data.groupby(by=data['Species']).min()

            Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Species
setosa               4.3          2.3           1.0          0.1
versicolor           4.9          2.0           3.0          1.0
virginica            4.9          2.2           4.5          1.4

Maximum:

In [6]:
data.groupby(by=data['Species']).max()

            Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Species
setosa               5.8          4.4           1.9          0.6
versicolor           7.0          3.4           5.1          1.8
virginica            7.9          3.8           6.9          2.5

Standard Deviation:

In [7]:
data.groupby(by=data['Species']).std()

            Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Species
setosa          0.352490     0.379064      0.173664     0.105386
versicolor      0.516171     0.313798      0.469911     0.197753
virginica       0.635880     0.322497      0.551895     0.274650

### Subtask 2:

In [8]:
data.groupby(by=data['Species'])[['Sepal.Length', 'Sepal.Width']].describe()

           Sepal.Length                                              \
                  count   mean       std  min    25%  50%  75%  max
Species
setosa             50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
versicolor         50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
virginica          50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

           Sepal.Width
                 count   mean       std  min    25%  50%    75%  max
Species
setosa            50.0  3.428  0.379064  2.3  3.200  3.4  3.675  4.4
versicolor        50.0  2.770  0.313798  2.0  2.525  2.8  3.000  3.4
virginica         50.0  2.974  0.322497  2.2  2.800  3.0  3.175  3.8

In [9]:
data.groupby(by=data['Species'])[['Petal.Length', 'Petal.Width']].describe()

           Petal.Length                                               \
                  count   mean       std  min  25%   50%    75%  max
Species
setosa             50.0  1.462  0.173664  1.0  1.4  1.50  1.575  1.9
versicolor         50.0  4.260  0.469911  3.0  4.0  4.35  4.600  5.1
virginica          50.0  5.552  0.551895  4.5  5.1  5.55  5.875  6.9

           Petal.Width
                 count   mean       std  min  25%  50%  75%  max
Species
setosa            50.0  0.246  0.105386  0.1  0.2  0.2  0.3  0.6
versicolor        50.0  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
virginica         50.0  2.026  0.274650  1.4  1.8  2.0  2.3  2.5